/*********************************************
* Print-specific CSS *
*********************************************/

@media print {

    .bd-content {
            flex: 0 0 100%;
            max-width: 100%;
    }

    div.topbar {
        display: none;
    }

}
