/*********************************************
* Print-specific CSS *
*********************************************/

@media print {

    div.topbar {
        display: none;
    }

    .pr-md-0 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

}